﻿@model CarRent.Models.SearchViewModel
@{
    ViewBag.Title = "Search";
}
@using (Html.BeginForm())
{
    <fieldset>
        <h2>Search</h2>
        @Html.LabelFor(model => model.StartDate, "בחר תאריך התחלת השכרה: ")
        <input type="text" id="datepickerStart">
        <br />
        @Html.LabelFor(model => model.EndDate, "בחר תאריך סיום השכרה: ")
        <input type="text" id="datepickerEnd">
        <br />
        @Html.LabelFor(model => model.YearList, "בחר שנת ייצור: ")
        @Html.EditorFor(model => model.YearList)
        <br />
        @Html.LabelFor(model => model.Gear, "בחר סוג גיר: ")
        @Html.EditorFor(model => model.Gear)
        <br />
        <p>
            <input id="btnSubmit" type="button" value="Submit" />
        </p>

    </fieldset>
    <div id="searchResult">



    </div>


    @section Scripts {

        <script>

            $(document).ready(function () {
                $("#datepickerStart").datepicker();
                $("#datepickerEnd").datepicker();
                $("#btnSubmit").click(function () {
                    var YearToSearch = $("#YearList").val();
                    var GearToSearch = $("#Gear").prop("checked");
                    var startDate = $("#datepickerStart").val();
                    var endDate = $("#datepickerEnd").val();

                    $("#searchResult").load("/searchCars/SearchResualt?carYear=" + YearToSearch + "&carGear=" + GearToSearch + "&startRent=" + startDate + "&endRent=" + endDate);
                });
            });


        </script>
    }
}
