﻿@model IEnumerable<CarRent.BL.Car>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CurrentKilometer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarPic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsProper)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarType.CarTypeID)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentKilometer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarPic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsProper)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarType.CarTypeID)
        </td>
    </tr>
}

</table>
